*{
  margin: 0;
  padding: 0;
}

body{
  background-image: url("./img/fondo.jpg");
  background-size: 100%;
}

.tarot {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.cards {
  margin-top: 2vh;
  height: 19vh;
  padding: 1vh;
}

.btn-shuffle{
  text-align: center;
}

.box {
  display: flex;
  color:white;


}
.text{
  color: white;
}